In [1]:
import numpy as np

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
from scipy.io import loadmat

In [10]:
%matplotlib inline

In [11]:
data=pd.read_excel(r"C:\Users\Zuhaili\Desktop\SVM.test.xlsx")

In [12]:
data.head()

,X,BIL,TARIKH.CERAPAN,TARIKH.CERAPAN.1,AltS,AltM,ARCV,AzS,AzM,X.Az,Elongation,Umur,W,Visibility,EV-test,EA-test,Maunder,Indian,Bruin
0,1,1,06.03.2000,29 Zulkaedah 1420,-0.348,2.544,2.892,264.591,262.177,-2.414,4.046,6.16,0.04,N,-0.026306,-0.051207,10.821026,10.284702,10.299138
1,2,2,07.03.2000,1 Zulhijah 1420,-0.241,14.189,14.430,264.975,266.158,1.183,15.001,30.15,0.53,N,-0.000422,-0.014668,10.926855,10.344518,10.259635
2,3,3,05.04.2000,30 Zulhijah 1420,-0.335,8.570,8.905,276.333,274.766,-1.567,9.539,17.13,0.22,N,-0.008666,-0.030383,10.897095,10.329014,10.281715
3,4,4,06.04.2000,1 Muharam 1421,-14.839,7.591,22.430,277.566,279.833,2.267,22.432,42.07,1.22,Y,-0.021614,0.207563,10.835257,10.293391,10.299201
4,5,5,04.05.2000,29 Muharam 1421,-0.484,3.147,3.631,286.194,282.623,-3.571,5.394,7.08,0.07,N,-0.011471,-0.034704,10.693930,10.201683,10.253379

In [13]:
X_3 = data['EA-test']
y_3 = data['AltM']

In [16]:
y_3

0       2.544
1      14.189
2       8.570
3       7.591
4       3.147
        ...
249     2.757
250     5.159
251     8.065
252     2.379
253     3.382
Name: AltM, Length: 254, dtype: float64